.card-product {
  background-color: var(--color-5-blanco);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: span 5;
  padding: 1rem;
  gap: 1rem;
  margin: 1rem;
}

@media (hover: hover) {
  .card-product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .product-heart:hover {
    cursor: pointer;
    transform: scale(1.25);
  }
}

.wrap-img {
  width: 100%;
  height: clamp(200px, 12vw, 230px);
  position: relative;
}

.product-img {
  padding: 1.5rem 0 0 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: saturate(175%);
}

.product-heart {
  position: absolute;
  width: 1.5rem;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.product-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Añade puntos suspensivos (...) al final del texto */
  cursor: help;
}

.product-price {
  font-size: 1.4rem;
  font-weight: 700;
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Añade puntos suspensivos (...) al final del texto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  cursor: help;
}

.product-characteristics {
  display: flex;
  justify-content: space-between;
}

.product-sizes {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: 60%;
}

.product-sizes li {
  background-color: rgb(240, 240, 240);
  outline: 1px solid rgb(204, 204, 204);
  text-align: center;
  padding: 0.1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-radius: 0.5rem;
}

.product-colors {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: 40%;
}

.product-colors li {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.color-blue {
  background-color: rgb(38, 74, 204);
}
.color-white {
  background-color: rgb(254, 254, 254);
}
.color-black {
  background-color: rgb(30, 30, 30);
}

.button-add-product{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 174, 0);
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.8rem;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 1s ease, background-color 0.3s ease;
  color: rgb(0, 174, 0);
  font-weight: bold;
}

@media (hover: hover) {
  .button-add-product:hover {
    color: white;
    background-color: rgb(0, 174, 0);
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .button-add-product:hover p::after{
    opacity: 1;
  }
}

.button-add-product p{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-add-product p::before{
  content: url(../../resources/icons/carrito-verde-card.svg);
}

.button-add-product p::after{
  content: url(../../resources/icons/carrito-blanco-card.svg);
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}