main{
  background-color: rgb(223, 223, 223);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 15rem;
  gap: 1rem;
}

/*=============================================
=            img-category            =
=============================================*/

.img-category{
  width: clamp(0px, 100%, 1400px);
  background: url(../../resources/imgs/bike-category.png) no-repeat center 50%/ cover;
  height: 20vw;
  position: relative;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.img-category::after{
  content: attr(data-img);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: clamp(0.93rem, 4.5vw, 8rem);
  background-color: rgba(46, 46, 46, 0.637);
  backdrop-filter: blur(1px);
  padding: 0.5rem 1.5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-family: fantasy;
  letter-spacing: 4px;
}

/*=====  End of img-category  ======*/


/*=============================================
=            Section comment block            =
=============================================*/

.inf-products{
  width: clamp(0px, 100%, 1400px);
  height: max-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

.cards-products{
  height: 100%;
  width: 75%;
  border-radius: 1rem;
  background-color: var(--color-5-blanco);
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(1, auto auto auto auto auto);
}

.filters-products{
  width: 25%;
  border-radius: 1rem;
  background-color: var(--color-5-blanco);
  padding: 1rem;
}

.filters-position-sticky{
  width: 100%;
  height: max-content;
  position: sticky;
  top: 150px;
}



/*=====  End of Section comment block  ======*/




